.about
    position: relative
    overflow: hidden
    // height: 100vh
    padding-top: 0px
    background: #fa2d2d
    z-index: 1
    display: flex
    flex-wrap: wrap
    .details
        width: 50%
        display: flex
        flex-direction: column
        justify-content: center
        padding: 50px 30px 50px 10%
    .chefs
        background: white
        width: 50%
